<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Content-Style-Type" content="text/css">
<script type="text/javascript" src="http://extras.denverpost.com/media/js/jquery-min.js"></script>

<title>{{TITLE}} Snow Report: The Denver Post</title>
<meta http-equiv="description" content="The {{TIMEAGO}}{{TITLE}} Snow Report, published by The Denver Post. {{TITLE}} snow report, and ski resort information. Get your Colorado snow info from Colorado's top news source! Our snow reports are updated hourly.">
<link rel="icon" href="http://extras.mnginteractive.com/live/media/favIcon/dpo/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://extras.mnginteractive.com/live/media/favIcon/dpo/favicon.ico" type="image/x-icon">
{{FEEDLINK}}
<link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/site36/redesign_default.css">
<link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/MNGiDefaultStyles.css">
<link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/1024_-_2_Column_Multi-Region.css">
<link type="text/css" rel="stylesheet" href="http://extras.denverpost.com/media/app/nav/dp/styles/nav.css">
<link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/site36/skireport.css">

<!--[if IE 8]>
<link rel="stylesheet" href="http://extras.denverpost.com/media/app/nav/dp/styles/ie8.css" type="text/css" />
<![endif]--> 
<!--[if IE 9]>
<link rel="stylesheet" href="http://extras.denverpost.com/media/app/nav/dp/styles/ie9.css" type="text/css"  />
<![endif] -->

<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Recent Snow"  href="http://feeds.denverpost.com/dp-skireport-recentsnow"   title="Denver Post: Ski Report: Recent Snow" text="Denver Post: Ski Report: Recent Snow">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Deepest Snow"  href="http://feeds.denverpost.com/dp-skireport-deepestsnow"   title="Denver Post: Ski Report: Deepest Snow" text="Denver Post: Ski Report: Deepest Snow">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Acres Open"  href="http://feeds.denverpost.com/dp-skireport-acresopen"   title="Denver Post: Ski Report: Acres Open" text="Denver Post: Ski Report: Acres Open">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Skiing News"  href="http://feeds.denverpost.com/dp-outdoors-skiing"   title="Denver Post: Skiing News" text="Denver Post: Skiing News">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Arapahoe Basin Ski Area"  href="http://feeds.denverpost.com/dp-skireport-arapahoebasin"   title="Denver Post: Ski Report: Arapahoe Basin Ski Area" text="Denver Post: Ski Report: Arapahoe Basin Ski Area">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Aspen Highlands"  href="http://feeds.denverpost.com/dp-skireport-aspenhighlands"   title="Denver Post: Ski Report: Aspen Highlands" text="Denver Post: Ski Report: Aspen Highlands">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Aspen Mountain"  href="http://feeds.denverpost.com/dp-skireport-aspenmountain"   title="Denver Post: Ski Report: Aspen Mountain" text="Denver Post: Ski Report: Aspen Mountain">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Aspen/Snowmass Nordic"  href="http://feeds.denverpost.com/dp-skireport-snowmassnordic"   title="Denver Post: Ski Report: Aspen/Snowmass Nordic" text="Denver Post: Ski Report: Aspen/Snowmass Nordic">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Beaver Creek"  href="http://feeds.denverpost.com/dp-skireport-beavercreek"   title="Denver Post: Ski Report: Beaver Creek" text="Denver Post: Ski Report: Beaver Creek">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Breckenridge"  href="http://feeds.denverpost.com/dp-skireport-breckenridge"   title="Denver Post: Ski Report: Breckenridge" text="Denver Post: Ski Report: Breckenridge">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Buttermilk"  href="http://feeds.denverpost.com/dp-skireport-buttermilk"   title="Denver Post: Ski Report: Buttermilk" text="Denver Post: Ski Report: Buttermilk">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: C Lazy U Ranch"  href="http://feeds.denverpost.com/dp-skireport-clazyuranch"   title="Denver Post: Ski Report: C Lazy U Ranch" text="Denver Post: Ski Report: C Lazy U Ranch">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Clark Store"  href="http://feeds.denverpost.com/dp-skireport-clarkstore"   title="Denver Post: Ski Report: Clark Store" text="Denver Post: Ski Report: Clark Store">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Cloud 9 Nordic Center"  href="http://feeds.denverpost.com/dp-skireport-cloud9nordic"   title="Denver Post: Ski Report: Cloud 9 Nordic Center" text="Denver Post: Ski Report: Cloud 9 Nordic Center">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Copper Mountain Resort"  href="http://feeds.denverpost.com/dp-skireport-coppermountain"   title="Denver Post: Ski Report: Copper Mountain Resort" text="Denver Post: Ski Report: Copper Mountain Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Cordillera"  href="http://feeds.denverpost.com/dp-skireport-cordillera"   title="Denver Post: Ski Report: Cordillera" text="Denver Post: Ski Report: Cordillera">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Crested Butte Mountain"  href="http://feeds.denverpost.com/dp-skireport-crestedbutte"   title="Denver Post: Ski Report: Crested Butte Mountain" text="Denver Post: Ski Report: Crested Butte Mountain">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Durango Mountain Resort"  href="http://feeds.denverpost.com/dp-skireport-durango"   title="Denver Post: Ski Report: Durango Mountain Resort" text="Denver Post: Ski Report: Durango Mountain Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Echo Mountain"  href="http://feeds.denverpost.com/dp-skireport-echo"   title="Denver Post: Ski Report: Echo Mountain" text="Denver Post: Ski Report: Echo Mountain">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Eldora Mountain Resort"  href="http://feeds.denverpost.com/dp-skireport-eldora"   title="Denver Post: Ski Report: Eldora Mountain Resort" text="Denver Post: Ski Report: Eldora Mountain Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Fairplay Nordic Center"  href="http://feeds.denverpost.com/dp-skireport-fairplaynordic"   title="Denver Post: Ski Report: Fairplay Nordic Center" text="Denver Post: Ski Report: Fairplay Nordic Center">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Frisco Nordic Center"  href="http://feeds.denverpost.com/dp-skireport-frisconordic"   title="Denver Post: Ski Report: Frisco Nordic Center" text="Denver Post: Ski Report: Frisco Nordic Center">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Grand Lake Touring Center"  href="http://feeds.denverpost.com/dp-skireport-grandlake"   title="Denver Post: Ski Report: Grand Lake Touring Center" text="Denver Post: Ski Report: Grand Lake Touring Center">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Grand Mesa XC"  href="http://feeds.denverpost.com/dp-skireport-grandmesaxc"   title="Denver Post: Ski Report: Grand Mesa XC" text="Denver Post: Ski Report: Grand Mesa XC">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: High Meadows"  href="http://feeds.denverpost.com/dp-skireport-highmeadows"   title="Denver Post: Ski Report: High Meadows" text="Denver Post: Ski Report: High Meadows">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Howelsen Hill"  href="http://feeds.denverpost.com/dp-skireport-howelsenhill"   title="Denver Post: Ski Report: Howelsen Hill" text="Denver Post: Ski Report: Howelsen Hill">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Keystone"  href="http://feeds.denverpost.com/dp-skireport-keystone"   title="Denver Post: Ski Report: Keystone" text="Denver Post: Ski Report: Keystone">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Latigo Ranch"  href="http://feeds.denverpost.com/dp-skireport-latigoranch"   title="Denver Post: Ski Report: Latigo Ranch" text="Denver Post: Ski Report: Latigo Ranch">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Loveland"  href="http://feeds.denverpost.com/dp-skireport-loveland"   title="Denver Post: Ski Report: Loveland" text="Denver Post: Ski Report: Loveland">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Mesa Lakes XC"  href="http://feeds.denverpost.com/dp-skireport-mesalakesxc"   title="Denver Post: Ski Report: Mesa Lakes XC" text="Denver Post: Ski Report: Mesa Lakes XC">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Monarch Mountain"  href="http://feeds.denverpost.com/dp-skireport-monarch"   title="Denver Post: Ski Report: Monarch Mountain" text="Denver Post: Ski Report: Monarch Mountain">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Phoenix Ridge"  href="http://feeds.denverpost.com/dp-skireport-phoenixridge"   title="Denver Post: Ski Report: Phoenix Ridge" text="Denver Post: Ski Report: Phoenix Ridge">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Powderhorn"  href="http://feeds.denverpost.com/dp-skireport-powderhorn"   title="Denver Post: Ski Report: Powderhorn" text="Denver Post: Ski Report: Powderhorn">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: San Juan"  href="http://feeds.denverpost.com/dp-skireport-sanjuan"   title="Denver Post: Ski Report: San Juan" text="Denver Post: Ski Report: San Juan">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Silverton Mountain"  href="http://feeds.denverpost.com/dp-skireport-silverton"   title="Denver Post: Ski Report: Silverton Mountain" text="Denver Post: Ski Report: Silverton Mountain">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Ski Cooper"  href="http://feeds.denverpost.com/dp-skireport-skicooper"   title="Denver Post: Ski Report: Ski Cooper" text="Denver Post: Ski Report: Ski Cooper">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Skyline Guest Ranch"  href="http://feeds.denverpost.com/dp-skireport-skylineguestranch"   title="Denver Post: Ski Report: Skyline Guest Ranch" text="Denver Post: Ski Report: Skyline Guest Ranch">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Snowmass"  href="http://feeds.denverpost.com/dp-skireport-snowmass"   title="Denver Post: Ski Report: Snowmass" text="Denver Post: Ski Report: Snowmass">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: SolVista Golf &amp; Ski Ranch (Silver Creek)"  href="http://feeds.denverpost.com/dp-skireport-solvista"   title="Denver Post: Ski Report: SolVista Golf &amp; Ski Ranch (Silver Creek)" text="Denver Post: Ski Report: SolVista Golf &amp; Ski Ranch (Silver Creek)">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Steamboat"  href="http://feeds.denverpost.com/dp-skireport-steamboat"   title="Denver Post: Ski Report: Steamboat" text="Denver Post: Ski Report: Steamboat">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Sunlight Mountain Resort"  href="http://feeds.denverpost.com/dp-skireport-sunlightmountain"   title="Denver Post: Ski Report: Sunlight Mountain Resort" text="Denver Post: Ski Report: Sunlight Mountain Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Telluride"  href="http://feeds.denverpost.com/dp-skireport-telluride"   title="Denver Post: Ski Report: Telluride" text="Denver Post: Ski Report: Telluride">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Trail Mt. B &amp; B"  href="http://feeds.denverpost.com/dp-skireport-trailmtbb"   title="Denver Post: Ski Report: Trail Mt. B &amp; B" text="Denver Post: Ski Report: Trail Mt. B &amp; B">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Vail"  href="http://feeds.denverpost.com/dp-skireport-vail"   title="Denver Post: Ski Report: Vail" text="Denver Post: Ski Report: Vail">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Vista Verde Ranch"  href="http://feeds.denverpost.com/dp-skireport-vistaverderanch"   title="Denver Post: Ski Report: Vista Verde Ranch" text="Denver Post: Ski Report: Vista Verde Ranch">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Whistling Elk"  href="http://feeds.denverpost.com/dp-skireport-whistlingelk"   title="Denver Post: Ski Report: Whistling Elk" text="Denver Post: Ski Report: Whistling Elk">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Winter Park Resort"  href="http://feeds.denverpost.com/dp-skireport-winterpark"   title="Denver Post: Ski Report: Winter Park Resort" text="Denver Post: Ski Report: Winter Park Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Wolf Creek Ski Area"  href="http://feeds.denverpost.com/dp-skireport-wolfcreek"   title="Denver Post: Ski Report: Wolf Creek Ski Area" text="Denver Post: Ski Report: Wolf Creek Ski Area">
<script type="text/javascript" src="http://an.tacoda.net/an/12503/slf.js"></script>
<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/tacoda/DartInclude.js"></script>
<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/tacoda/AccipiterInclude.js"></script>
<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/otherinc/otherinc.js"></script>
<!--YAHOO ADS--><script type="text/javascript">
//General Information
	yld_mgr = {};
	yld_mgr.slots = {};
	yld_mgr.pub_id="21204022309";
	yld_mgr.site_name="www.denverpost.com";
	yld_mgr.container_type="js";
	yld_mgr.request_type="ac";
	yld_mgr.clk_dest="_blank";
	yld_mgr.ad_output_encoding="utf-8";
	yld_mgr.max_count=3;
	yld_mgr.content_lang="en-US";
	yld_mgr.disable_content_send="0";
	yld_mgr.cstm_sctn_list=["section"];
	yld_mgr.content_topic_id_list=["20422501"];//configured for lifestyles Page - update category ID based on NCTaxId spreadsheet

	var sectionKeywords = ["ski_report", "{{SLUG}}_skireport"];//Custom Content Categories - lower case, comma separated, max 10 categories, a-z, 0-9(category must start with a letter), and underscores are allowed
	var content_type_list = ["fn_news"];
	var reporting_tag_list = [""];//This is the section name


//Ad slot configs

	yld_mgr.slots.adPos0={}
	yld_mgr.slots.adPos0.ad_size_list=["728x90"];
	yld_mgr.slots.adPos0.ad_delivery_mode="ipatf";
	yld_mgr.slots.adPos0.ad_format_list=["Standard Graphical","Rich Media"];
	yld_mgr.slots.adPos0.cstm_content_cat_list=sectionKeywords;
	yld_mgr.slots.adPos0.content_type_list=content_type_list;
	yld_mgr.slots.adPos0.reporting_tag_list=reporting_tag_list;

	yld_mgr.slots.adPos1={};
	yld_mgr.slots.adPos1.ad_size_list=["1x1"];
	yld_mgr.slots.adPos1.ad_delivery_mode="ipatf";
	yld_mgr.slots.adPos1.ad_format_list=["Standard Graphical","Rich Media"];
	yld_mgr.slots.adPos1.cstm_content_cat_list=sectionKeywords;
	yld_mgr.slots.adPos1.content_type_list=content_type_list;
	yld_mgr.slots.adPos1.reporting_tag_list=reporting_tag_list;

	yld_mgr.slots.adPos6={};
	yld_mgr.slots.adPos6.ad_size_list=["300x250"];
	yld_mgr.slots.adPos6.ad_delivery_mode="ipstf";
	yld_mgr.slots.adPos6.ad_format_list=["Standard Graphical","Rich Media"];
	yld_mgr.slots.adPos6.cstm_content_cat_list=sectionKeywords;
	yld_mgr.slots.adPos6.content_type_list=content_type_list;
	yld_mgr.slots.adPos6.reporting_tag_list=reporting_tag_list;

	yld_mgr.slots.adPos9={};
	yld_mgr.slots.adPos9.ad_size_list=["300x250"];
	yld_mgr.slots.adPos9.ad_delivery_mode="ipatf";
	yld_mgr.slots.adPos9.ad_format_list=["Standard Graphical","Rich Media"];
	yld_mgr.slots.adPos9.cstm_content_cat_list=sectionKeywords;
	yld_mgr.slots.adPos9.content_type_list=content_type_list;
	yld_mgr.slots.adPos9.reporting_tag_list=reporting_tag_list;

	yld_mgr.slots.adPos11={};
	yld_mgr.slots.adPos11.ad_size_list=["160x600"];
	yld_mgr.slots.adPos11.ad_delivery_mode="ipbtf";
	yld_mgr.slots.adPos11.ad_format_list=["Standard Graphical","Rich Media"];
	yld_mgr.slots.adPos11.cstm_content_cat_list=sectionKeywords;
	yld_mgr.slots.adPos11.content_type_list=content_type_list;
	yld_mgr.slots.adPos11.reporting_tag_list=reporting_tag_list;

	yld_mgr.slots.adPos12={};
	yld_mgr.slots.adPos12.ad_size_list=["160x90"];
	yld_mgr.slots.adPos12.ad_delivery_mode="ipbtf";
	yld_mgr.slots.adPos12.ad_format_list=["Standard Graphical","Rich Media"];
	yld_mgr.slots.adPos12.cstm_content_cat_list=sectionKeywords;
	yld_mgr.slots.adPos12.content_type_list=content_type_list;
	yld_mgr.slots.adPos12.reporting_tag_list=reporting_tag_list;

	yld_mgr.slots.adPos14={};
	yld_mgr.slots.adPos14.ad_size_list=["728x90"];
	yld_mgr.slots.adPos14.ad_delivery_mode="ipbtf";
	yld_mgr.slots.adPos14.ad_format_list=["Standard Graphical","Rich Media"];
	yld_mgr.slots.adPos14.cstm_content_cat_list=sectionKeywords;
	yld_mgr.slots.adPos14.content_type_list=content_type_list;
	yld_mgr.slots.adPos14.reporting_tag_list=reporting_tag_list;


</script><script type="text/javascript" src="http://e.yieldmanager.net/script.js"></script>

<style type="text/css">
.fullpage div {
width:300px !important;
}
</style>
</head>
<body class="bodyStyle">
<a name="top"></a>



<script type="text/javascript">
<!--
function switchMenu(obj) {var el = document.getElementById(obj); if ( el.style.display != "none" ) {el.style.display = "none";} else {el.style.display = "";}}
function pointercursor(){document.body.style.cursor = "move";}
function unpointercursor(){document.body.style.cursor="";}
//-->
</script>

<div id="omniture" style="display:none;">
<!-- SiteCatalyst code version: H.17.
Copyright 1997-2005 Omniture, Inc. More info available at
http://www.omniture.com -->
<script type="text/JavaScript"><!--//
/* Specify the Report Suite ID(s) to track here */
var s_account="denverpost";
//--></script>

<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/omniture/SiteCatalystCode_H_17.js"></script>

<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/omniture/OmnitureHelper.js"></script>
<script type="text/javascript"><!--
/* You may give each page an identifying name, server, and channel on
the next lines. */
s.pageName="Ski Report / {{TITLE}}";
s.channel="OUTDOORS" // Same as prop1
s.server="EXTRAS"// Blank
s.pageType="" // Error pages ONLY
s.prop1="OUTDOORS" // Root Section
s.prop2="OUTDOORS / Skiing" // Sub section 1
s.prop3="OUTDOORS / Skiing / Colorado Ski Report" // Sub section 2
s.prop4="OUTDOORS / Skiing / Colorado Ski Report / Detail" // Sub section 3
s.prop5="OUTDOORS / Skiing / Colorado Ski Report / Detail / {{TITLE}}" // Sub section 4

s.zip=""
s.prop9=getCiQueryString("SOURCE")
s.eVar2=getCiQueryString("SOURCE")
/* E-commerce Variables */
s.campaign=getCiQueryString("EADID")+getCiQueryString("CREF")
s.events="event1"
s.eVar4=s.pageName
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)//--></script>
<script type="text/javascript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script>
<noscript>
<img src="http://denverpost.112.2O7.net/b/ss/denverpost/1/H.17--NS/0"
height="1" width="1" alt="">
</noscript>
<!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.17. -->
</div>

      <div id="page" class="contentStyle">

         <div id="header">
            <div class="adElement" id="adPosition0" style="margin:0!important;"><script type="text/javascript">yld_mgr.place_ad_here("adPos0");</script></div>
         </div>
         <div id="masthead_section" class="clearfix" style="width:995px;">
            <div id="masthead_sectionlogo">
               <a href="http://www.denverpost.com"><img src="http://extras.mnginteractive.com/live/media/site36/2006/0927/20060815_054356_logo_articles.gif" width="351" height="50" alt=""></a>
            </div>

            <div id="sectionname" style="width:995px;">
               <a href="http://www.denverpost.com/skireport" title="Colorado Snow and Ski Report">Colorado Ski and Snow Report</a>
            </div>
            <div id="masthead_sectiondate">
<script type="text/javascript">
   var date = new Date();
   document.write(date.toLocaleDateString());
</script>
            </div>
         </div>
         <table border="0" width="995" cellpadding="0" cellspacing="0">
            <tr>

               <td valign="top">
                  <span id="redesign_topNav">
                  <!-- This is the default template to use for the new horizontal navigation bar -->

                    <div id="navcontainer">
                        <script type="text/javascript" src="http://extras.denverpost.com/media/app/nav/dp/js/nav_main.js">
                        </script>
                    </div>
                  <!-- Do *NOT* change the following script source, unless the file has moved to a new location. -->
                  </span>

               </td>
            </tr>
         </table>


    <div id="sportsmenu" class="broncos clearfix">
    <div style="width: 310px; margin: 0;">
        <a href="http://www.denverpost.com/skireport?source=ski_nav"><img src="http://extras.mnginteractive.com/live/media/site36/2008/1025/20081025_081011_skiguidemenu.gif" alt="Colorado Ski Guide"></a>
    </div>
    <div style="margin: 3px 0 0 34px; width: 140px;">
        <ul>
            <li class="link"><a href="http://www.denverpost.com/skiing?source=ski_nav">Colorado Skiing News</a></li>
			<li class="blog" style="margin-top: 5px;"><a href="http://guide.denverpost.com/lists/category/colorado-skiing-and-recreation/?source=ski_nav">Colorado Ski Guides</a></li>

        </ul>
    </div>
    <div style="margin-top: 3px; width: 200px">
            <ul>
                <li class="slideshow"><a href="http://neighbors.denverpost.com/album_cat.php?cat_id=109&amp;source=ski_nav">Outdoor Extremes Reader Photos</a></li>
                <li class="rss" style="margin-top: 5px;"><a href="http://www.denverpost.com/webfeeds?source=ski_nav#ski-report">Colorado Resort Web Feeds</a></li>
            </ul>
    </div>
    <div style="margin-top: 3px; width: 190px;">
            <ul>
                <li class="link"><a href="weather.html?source=ski_nav">Colorado Resort Weather</a></li>
				<li class="blog" style="margin-top: 5px;"><a href="http://blogs.denverpost.com/sports/category/outdoor-extremes/?source=ski_nav">Outdoor Extremes Colorado</a></li>
            </ul>
    </div>

</div>
<script type="text/javascript" >
<!--

function jumpto(x){

if (document.form1.jumpmenu.value != "null") {
document.location.href = x
}
}

//-->
</script>


         <div id="breadcrumbs">
			<a href="http://www.denverpost.com">Home</a>
			&rsaquo; <a href="http://www.denverpost.com/outdoors" title="Colorado Outdoors">Outdoors</a>
			&rsaquo; <a href="http://www.denverpost.com/skireport" title="Colorado Snow Report">Colorado Snow Report</a></div>


<div class="maincol" style="float:left; width:650px;">{{HEADERONE}}{{BODY}}</div>
<div class="sidebarcol" style="float:right; width:300px; margin-right:15px;">
<div id="skiquicklinks" style="margin-left:0;">
<p><strong>Quick Links</strong>:

<form name="form1">
<select name="jumpmenu" onChange="jumpto(document.form1.jumpmenu.options[document.form1.jumpmenu.options.selectedIndex].value)">
<option>Select a resort...</option>
<option value="http://extras.denverpost.com/skireport/colorado/arapahoebasin.html">Arapahoe Basin</option>
<option value="http://extras.denverpost.com/skireport/colorado/aspenmountain.html">Aspen / Buttermilk / Snowmass</option>
<option value="http://extras.denverpost.com/skireport/colorado/beavercreek.html">Beaver Creek</option>
<option value="http://extras.denverpost.com/skireport/colorado/breckenridge.html">Breckenridge</option>
<option value="http://extras.denverpost.com/skireport/colorado/coppermountain.html">Copper Mountain</option>
<option value="http://extras.denverpost.com/skireport/colorado/crestedbutte.html">Crested Butte</option>
<option value="http://extras.denverpost.com/skireport/colorado/durango.html">Durango</option>
<option value="http://extras.denverpost.com/skireport/colorado/eldora.html">Eldora</option>
<!--<option value="http://extras.denverpost.com/skireport/colorado/howelsenhill.html">Howelsen Hill</option>-->
<option value="http://extras.denverpost.com/skireport/colorado/keystone.html">Keystone</option>
<option value="http://extras.denverpost.com/skireport/colorado/loveland.html">Loveland</option>
<option value="http://extras.denverpost.com/skireport/colorado/monarch.html">Monarch</option>
<option value="http://extras.denverpost.com/skireport/colorado/powderhorn.html">Powderhorn</option>
<option value="http://extras.denverpost.com/skireport/colorado/silverton.html">Silverton</option>
<option value="http://extras.denverpost.com/skireport/colorado/skicooper.html">Ski Cooper</option>
<option value="http://extras.denverpost.com/skireport/colorado/solvista.html">SolVista</option>
<option value="http://extras.denverpost.com/skireport/colorado/steamboat.html">Steamboat</option>
<option value="http://extras.denverpost.com/skireport/colorado/sunlightmountain.html">Sunlight Mountain</option>
<option value="http://extras.denverpost.com/skireport/colorado/telluride.html">Telluride</option>
<option value="http://extras.denverpost.com/skireport/colorado/vail.html">Vail</option>
<option value="http://extras.denverpost.com/skireport/colorado/winterpark.html">Winter Park</option>
<option value="http://extras.denverpost.com/skireport/colorado/wolfcreek.html">Wolf Creek</option>
</select>
</form></p>
</div>
    <h3>&rsaquo; <a href="resort-webcams.html">Colorado Ski Resort Webcams</a></h3>
    <h3>&rsaquo; <a href="iphone-snow-app.html">The Snow Report iPhone App</a></h3>
    <h3>&rsaquo; <a href="powder.html">The Colorado Daily Powder Report</a></h3>
    <h3>&rsaquo; <a href="recentsnow.html">Colorado's Recent Snow Report</a></h3>
    <h3>&rsaquo; <a href="deepestsnow.html">Colorado's Deepest Snow Report</a></h3>
    <h3>&rsaquo; <a href="acresopen.html">Colorado's Resort Acres Open Report</a></h3>
    <h3>&rsaquo; <a href="resorts.html">Colorado Ski Resorts List</a></h3>
	<div class="adElement" id="adPosition9"><script type="text/javascript">yld_mgr.place_ad_here("adPos9");</script></div>
<script src="http://widgets.twimg.com/j/2/widget.js" type="text/javascript"></script>
<script type="text/javascript">
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 10,
  interval: 6000,
  width: 300,
  height: 300,
  theme: {
    shell: {
      background: '#003459',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#0056c6'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('coloradosnow').start();
</script>


<script type="text/javascript" language="JavaScript" src="http://www.postnewstools.com/widgets/snow_report.js"></script>


    <h3><a href="weather.html">Colorado Ski Resort Weather</a></h3>
	<ul class="boxwhite">
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81657">Vail Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80435">Keystone / Dillon Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81301">Durango Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80482">Winter Park Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80487">Steamboat Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81435">Telluride Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80424">Breckenridge Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81611">Aspen Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81201">Monarch Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81224">Crested Butte Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80446">Silver Creek Weather Conditions</a></li>
	</ul>
<div class="adElement" id="adPosition6"><script type="text/javascript">yld_mgr.place_ad_here("adPos6");</script></div>

</div>







<div class="adElement" style="width:990px; text-align:center; clear:both;">

<p style="width:80%; margin:0 auto 10px auto;">
	<a href="http://extras.denverpost.com/skireport/colorado/arapahoebasin.html" title="Arapahoe Basin Resort and Snow info">Arapahoe Basin</a> |
<!-- <a href="http://extras.denverpost.com/skireport/colorado/aspenhighlands.html" title="Aspen Highlands Resort and Snow info">Aspen Highlands</a> | -->
<a href="http://extras.denverpost.com/skireport/colorado/aspenmountain.html" title="Aspen and Buttermilk and Snowmass Resort and Snow info">Aspen / Buttermilk / Snowmass</a> |
<a href="http://extras.denverpost.com/skireport/colorado/beavercreek.html" title="Beaver Creek Resort and Snow info">Beaver Creek</a> |
<a href="http://extras.denverpost.com/skireport/colorado/breckenridge.html" title="Breckenridge Resort and Snow info">Breckenridge</a> |
<!-- <a href="http://extras.denverpost.com/skireport/colorado/buttermilk.html" title="Buttermilk Resort and Snow info">Buttermilk</a> | -->
<a href="http://extras.denverpost.com/skireport/colorado/coppermountain.html" title="Copper Mountain Resort and Snow info">Copper Mountain</a> |
<a href="http://extras.denverpost.com/skireport/colorado/crestedbutte.html" title="Crested Butte Resort and Snow info">Crested Butte</a> |
<a href="http://extras.denverpost.com/skireport/colorado/durango.html" title="Durango Resort and Snow info">Durango</a> |
<a href="http://extras.denverpost.com/skireport/colorado/echo.html" title="Echo Resort and Snow info">Echo</a> |
<a href="http://extras.denverpost.com/skireport/colorado/eldora.html" title="Eldora Resort and Snow info">Eldora</a> |
<a href="http://extras.denverpost.com/skireport/colorado/howelsenhill.html" title="Howelsen Hill Resort and Snow info">Howelsen Hill</a> |
<a href="http://extras.denverpost.com/skireport/colorado/keystone.html" title="Keystone Resort and Snow info">Keystone</a> |
<a href="http://extras.denverpost.com/skireport/colorado/loveland.html" title="Loveland Resort and Snow info">Loveland</a> |
<a href="http://extras.denverpost.com/skireport/colorado/monarch.html" title="Monarch Resort and Snow info">Monarch</a> |
<a href="http://extras.denverpost.com/skireport/colorado/powderhorn.html" title="Powderhorn Resort and Snow info">Powderhorn</a> |
<a href="http://extras.denverpost.com/skireport/colorado/silverton.html" title="Silverton Resort and Snow info">Silverton</a> |
<a href="http://extras.denverpost.com/skireport/colorado/skicooper.html" title="Ski Cooper Resort and Snow info">Ski Cooper</a> |
<!-- <a href="http://extras.denverpost.com/skireport/colorado/snowmass.html" title="Snowmass Resort and Snow info">Snowmass</a> | -->
<a href="http://extras.denverpost.com/skireport/colorado/solvista.html" title="SolVista Resort and Snow info">SolVista</a> |
<a href="http://extras.denverpost.com/skireport/colorado/steamboat.html" title="Steamboat Resort and Snow info">Steamboat</a> |
<a href="http://extras.denverpost.com/skireport/colorado/sunlightmountain.html" title="Sunlight Mountain Resort and Snow info">Sunlight Mountain</a> |
<a href="http://extras.denverpost.com/skireport/colorado/telluride.html" title="Telluride Resort and Snow info">Telluride</a> |
<a href="http://extras.denverpost.com/skireport/colorado/vail.html" title="Vail Resort and Snow info">Vail</a> |
<a href="http://extras.denverpost.com/skireport/colorado/winterpark.html" title="Winter Park Resort and Snow info">Winter Park</a> |
<a href="http://extras.denverpost.com/skireport/colorado/wolfcreek.html" title="Wolf Creek Resort and Snow info">Wolf Creek</a>
</p>

<p style="width:80%; margin:0 auto 10px auto;">
	<a href="powder.html">The Colorado Daily Powder Report</a> |
<a href="recentsnow.html">Colorado's Recent Snow Report</a> |
<a href="deepestsnow.html">Colorado's Deepest Snow Report</a> |
<a href="acresopen.html">Colorado's Resort Acres Open Report</a> |
<a href="resorts.html">Colorado Ski Resorts List</a> |
<a href="http://guide.denverpost.com/lists/category/colorado-skiing-and-recreation/">Colorado Ski Guides</a>
</p>
	<p>Snow reports provided by Mountain News. The largest producer of skiing content for media, and <a href="http://www.onthesnow.com/?XE_AFF=denver%20post&amp;XE_LNK=Credit-Line-Ski-Report">publishers of the OnTheSnow.com Ski Guide</a>.</p>
<!-- BEGIN Insight XE for OTS-->
<SCRIPT type="text/JavaScript">
var if_Site_ID = "mountainnews";
var if_sid="1";
var if_tag = "<SCRIPT type='text/JavaScript' " + "DEFER SRC=http" + "://" + "a248.e.akamai.net/7/836/1132/102403/" + if_Site_ID + ".247realmedia.com/scripts/" + if_Site_ID + "_if.js" + "></SCR" + "IPT>";
var mep1="&amp;Section=CoBrands&amp;Corporate=Denver Post&amp;Affiliate=DENVERPOST.COM&amp;Type=XML - Ski Report";
document.write(if_tag);
</SCRIPT>
<!-- END Insight XE for OTS-->
	</div>

<div id="footer" style="width:100%; text-align:center!important; margin:0 auto!important;clear:both;"><script type="text/javascript" src="http://extras.denverpost.com/vendor_templates/includes/footer.js"></script></div>

</div>


<!-- <div style="float:right; width:300px;">{{STATIC.RECENTUPDATES}}</div> -->
</body>
</html>
