<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Content-Style-Type" content="text/css">
<script type="text/javascript" src="http://extras.denverpost.com/media/js/jquery-min.js"></script>

<title>{{TITLE}} Snow Report: The Denver Post</title>
<meta http-equiv="description" content="The {{TIMEAGO}}{{TITLE}} Snow Report, published by The Denver Post. {{TITLE}} snow report, and ski resort information. Get your Colorado snow info from Colorado's top news source! Our snow reports are updated hourly.">
<link rel="icon" href="http://extras.mnginteractive.com/live/media/favIcon/dpo/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://extras.mnginteractive.com/live/media/favIcon/dpo/favicon.ico" type="image/x-icon">
{{FEEDLINK}}
<link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/site36/redesign_default.css">
<!--
<link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/MNGiDefaultStyles.css">
<link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/1024_-_2_Column_Multi-Region.css">
<link type="text/css" rel="stylesheet" href="http://extras.denverpost.com/media/app/nav/dp/styles/nav.css">
-->
<link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/site36/skireport.css">

<style type="text/css">
#wrapper
{
    margin: 10px auto;
    width: 1040px;
}
</style>

<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Recent Snow"  href="http://feeds.denverpost.com/dp-skireport-recentsnow"   title="Denver Post: Ski Report: Recent Snow" text="Denver Post: Ski Report: Recent Snow">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Deepest Snow"  href="http://feeds.denverpost.com/dp-skireport-deepestsnow"   title="Denver Post: Ski Report: Deepest Snow" text="Denver Post: Ski Report: Deepest Snow">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Acres Open"  href="http://feeds.denverpost.com/dp-skireport-acresopen"   title="Denver Post: Ski Report: Acres Open" text="Denver Post: Ski Report: Acres Open">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Skiing News"  href="http://feeds.denverpost.com/dp-outdoors-skiing"   title="Denver Post: Skiing News" text="Denver Post: Skiing News">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Arapahoe Basin Ski Area"  href="http://feeds.denverpost.com/dp-skireport-arapahoebasin"   title="Denver Post: Ski Report: Arapahoe Basin Ski Area" text="Denver Post: Ski Report: Arapahoe Basin Ski Area">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Aspen Mountain"  href="http://feeds.denverpost.com/dp-skireport-aspenmountain"   title="Denver Post: Ski Report: Aspen Mountain" text="Denver Post: Ski Report: Aspen Mountain">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Beaver Creek"  href="http://feeds.denverpost.com/dp-skireport-beavercreek"   title="Denver Post: Ski Report: Beaver Creek" text="Denver Post: Ski Report: Beaver Creek">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Breckenridge"  href="http://feeds.denverpost.com/dp-skireport-breckenridge"   title="Denver Post: Ski Report: Breckenridge" text="Denver Post: Ski Report: Breckenridge">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Buttermilk"  href="http://feeds.denverpost.com/dp-skireport-buttermilk"   title="Denver Post: Ski Report: Buttermilk" text="Denver Post: Ski Report: Buttermilk">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Copper Mountain Resort"  href="http://feeds.denverpost.com/dp-skireport-coppermountain"   title="Denver Post: Ski Report: Copper Mountain Resort" text="Denver Post: Ski Report: Copper Mountain Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Crested Butte Mountain"  href="http://feeds.denverpost.com/dp-skireport-crestedbutte"   title="Denver Post: Ski Report: Crested Butte Mountain" text="Denver Post: Ski Report: Crested Butte Mountain">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Durango Mountain Resort"  href="http://feeds.denverpost.com/dp-skireport-durango"   title="Denver Post: Ski Report: Durango Mountain Resort" text="Denver Post: Ski Report: Durango Mountain Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Eldora Mountain Resort"  href="http://feeds.denverpost.com/dp-skireport-eldora"   title="Denver Post: Ski Report: Eldora Mountain Resort" text="Denver Post: Ski Report: Eldora Mountain Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Howelsen Hill"  href="http://feeds.denverpost.com/dp-skireport-howelsenhill"   title="Denver Post: Ski Report: Howelsen Hill" text="Denver Post: Ski Report: Howelsen Hill">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Keystone"  href="http://feeds.denverpost.com/dp-skireport-keystone"   title="Denver Post: Ski Report: Keystone" text="Denver Post: Ski Report: Keystone">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Loveland"  href="http://feeds.denverpost.com/dp-skireport-loveland"   title="Denver Post: Ski Report: Loveland" text="Denver Post: Ski Report: Loveland">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Monarch Mountain"  href="http://feeds.denverpost.com/dp-skireport-monarch"   title="Denver Post: Ski Report: Monarch Mountain" text="Denver Post: Ski Report: Monarch Mountain">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Powderhorn"  href="http://feeds.denverpost.com/dp-skireport-powderhorn"   title="Denver Post: Ski Report: Powderhorn" text="Denver Post: Ski Report: Powderhorn">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Silverton Mountain"  href="http://feeds.denverpost.com/dp-skireport-silverton"   title="Denver Post: Ski Report: Silverton Mountain" text="Denver Post: Ski Report: Silverton Mountain">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Ski Cooper"  href="http://feeds.denverpost.com/dp-skireport-skicooper"   title="Denver Post: Ski Report: Ski Cooper" text="Denver Post: Ski Report: Ski Cooper">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Skyline Guest Ranch"  href="http://feeds.denverpost.com/dp-skireport-skylineguestranch"   title="Denver Post: Ski Report: Skyline Guest Ranch" text="Denver Post: Ski Report: Skyline Guest Ranch">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Snowmass"  href="http://feeds.denverpost.com/dp-skireport-snowmass"   title="Denver Post: Ski Report: Snowmass" text="Denver Post: Ski Report: Snowmass">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: SolVista Golf &amp; Ski Ranch (Silver Creek)"  href="http://feeds.denverpost.com/dp-skireport-solvista"   title="Denver Post: Ski Report: SolVista Golf &amp; Ski Ranch (Silver Creek)" text="Denver Post: Ski Report: SolVista Golf &amp; Ski Ranch (Silver Creek)">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Steamboat"  href="http://feeds.denverpost.com/dp-skireport-steamboat"   title="Denver Post: Ski Report: Steamboat" text="Denver Post: Ski Report: Steamboat">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Sunlight Mountain Resort"  href="http://feeds.denverpost.com/dp-skireport-sunlightmountain"   title="Denver Post: Ski Report: Sunlight Mountain Resort" text="Denver Post: Ski Report: Sunlight Mountain Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Telluride"  href="http://feeds.denverpost.com/dp-skireport-telluride"   title="Denver Post: Ski Report: Telluride" text="Denver Post: Ski Report: Telluride">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Vail"  href="http://feeds.denverpost.com/dp-skireport-vail"   title="Denver Post: Ski Report: Vail" text="Denver Post: Ski Report: Vail">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Winter Park Resort"  href="http://feeds.denverpost.com/dp-skireport-winterpark"   title="Denver Post: Ski Report: Winter Park Resort" text="Denver Post: Ski Report: Winter Park Resort">
<link rel="alternate" type="application/rss+xml"  description="Denver Post: Ski Report: Wolf Creek Ski Area"  href="http://feeds.denverpost.com/dp-skireport-wolfcreek"   title="Denver Post: Ski Report: Wolf Creek Ski Area" text="Denver Post: Ski Report: Wolf Creek Ski Area">
<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/otherinc/otherinc.js"></script>

<style type="text/css">
.fullpage div {
width:300px !important;
}
</style>
    <script type="text/javascript" src="http://extras.denverpost.com/media/js/jquery-min.js"></script>
    <script type="text/javascript" src="http://extras.denverpost.com/media/js/dputils-min.js?v=3"></script>
    <script type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script>
 
 
    <script type="text/javascript">
        //Chartbeat startup
        var _sf_startpt=(new Date()).getTime();
        var _sf_async_config={};
    </script>
</head>
<body>
<a name="top"></a>



<script type="text/javascript">
<!--
function switchMenu(obj) {var el = document.getElementById(obj); if ( el.style.display != "none" ) {el.style.display = "none";} else {el.style.display = "";}}
function pointercursor(){document.body.style.cursor = "move";}
function unpointercursor(){document.body.style.cursor="";}
//-->
</script>

<div id="omniture" style="display:none;">
<!-- SiteCatalyst code version: H.17.
Copyright 1997-2005 Omniture, Inc. More info available at
http://www.omniture.com -->
<script type="text/javascript"><!--//
/* Specify the Report Suite ID(s) to track here */
var s_account="denverpost";
//--></script>

<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/omniture/SiteCatalystCode_H_17.js"></script>

<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/omniture/OmnitureHelper.js"></script>
<script type="text/javascript">
s.pageName="Ski Report / {{TITLE}}";
s.channel="OUTDOORS" // Same as prop1
s.server="EXTRAS"// Blank
s.pageType="" // Error pages ONLY
s.prop1="OUTDOORS" // Root Section
s.prop2="OUTDOORS / Skiing" // Sub section 1
s.prop3="OUTDOORS / Skiing / Colorado Ski Report" // Sub section 2
s.prop4="OUTDOORS / Skiing / Colorado Ski Report / Detail" // Sub section 3
s.prop5="OUTDOORS / Skiing / Colorado Ski Report / Detail / {{TITLE}}" // Sub section 4

s.zip=""
s.prop9=getCiQueryString("SOURCE")
s.eVar2=getCiQueryString("SOURCE")
/* E-commerce Variables */
s.campaign=getCiQueryString("EADID")+getCiQueryString("CREF")
s.events="event1"
s.eVar4=s.pageName
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)//--></script>
<script type="text/javascript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
</script>
<noscript>
<img src="http://denverpost.112.2O7.net/b/ss/denverpost/1/H.17--NS/0"
height="1" width="1" alt="">
</noscript>
<!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.17. -->
</div>

<div id="top_leaderboard_wrap">
    <div id='dp_blog_leaderboard' style="margin:10px auto;width:728px;">
        <script type='text/javascript'>
            if ( document.getElementById('top_leaderboard_wrap').offsetWidth >= 728 ) {
                googletag.defineSlot('/8013/denverpost.com', [[728,90]], 'dp_blog_leaderboard').setTargeting('blog', 'dp_rockies').addService(googletag.pubads());
                googletag.pubads().enableSyncRendering();
                googletag.enableServices();
                googletag.display('dp_blog_leaderboard');
            }
        </script>
    </div>
</div>
    <div id="dfmHeader"><!--Header Goes Here--></div>
    <div id="wrapper">


<script type="text/javascript" >
<!--

function jumpto(x){

if (document.form1.jumpmenu.value != "null") {
document.location.href = x
}
}

//-->
</script>


         <div id="breadcrumbs">
			<a href="http://www.denverpost.com">Home</a>
			&rsaquo; <a href="http://www.denverpost.com/outdoors" title="Colorado Outdoors">Outdoors</a>
			&rsaquo; <a href="http://www.denverpost.com/skireport" title="Colorado Snow Report">Colorado Snow Report</a></div>


<div class="maincol" style="float:left; width:650px;">{{HEADERONE}}{{BODY}}</div>
<div class="sidebarcol" style="float:right; width:300px; margin-right:15px;">
<div id="skiquicklinks" style="margin-left:0;">
<p><strong>Quick Links</strong>:

<form name="form1">
<select name="jumpmenu" onChange="jumpto(document.form1.jumpmenu.options[document.form1.jumpmenu.options.selectedIndex].value)">
<option>Select a resort...</option>
<option value="http://extras.denverpost.com/skireport/colorado/arapahoebasin.html">Arapahoe Basin</option>
<option value="http://extras.denverpost.com/skireport/colorado/aspenmountain.html">Aspen / Buttermilk / Snowmass</option>
<option value="http://extras.denverpost.com/skireport/colorado/beavercreek.html">Beaver Creek</option>
<option value="http://extras.denverpost.com/skireport/colorado/breckenridge.html">Breckenridge</option>
<option value="http://extras.denverpost.com/skireport/colorado/coppermountain.html">Copper Mountain</option>
<option value="http://extras.denverpost.com/skireport/colorado/crestedbutte.html">Crested Butte</option>
<option value="http://extras.denverpost.com/skireport/colorado/durango.html">Durango</option>
<option value="http://extras.denverpost.com/skireport/colorado/eldora.html">Eldora</option>
<!--<option value="http://extras.denverpost.com/skireport/colorado/howelsenhill.html">Howelsen Hill</option>-->
<option value="http://extras.denverpost.com/skireport/colorado/keystone.html">Keystone</option>
<option value="http://extras.denverpost.com/skireport/colorado/loveland.html">Loveland</option>
<option value="http://extras.denverpost.com/skireport/colorado/monarch.html">Monarch</option>
<option value="http://extras.denverpost.com/skireport/colorado/powderhorn.html">Powderhorn</option>
<option value="http://extras.denverpost.com/skireport/colorado/silverton.html">Silverton</option>
<option value="http://extras.denverpost.com/skireport/colorado/skicooper.html">Ski Cooper</option>
<option value="http://extras.denverpost.com/skireport/colorado/solvista.html">SolVista</option>
<option value="http://extras.denverpost.com/skireport/colorado/steamboat.html">Steamboat</option>
<option value="http://extras.denverpost.com/skireport/colorado/sunlightmountain.html">Sunlight Mountain</option>
<option value="http://extras.denverpost.com/skireport/colorado/telluride.html">Telluride</option>
<option value="http://extras.denverpost.com/skireport/colorado/vail.html">Vail</option>
<option value="http://extras.denverpost.com/skireport/colorado/winterpark.html">Winter Park</option>
<option value="http://extras.denverpost.com/skireport/colorado/wolfcreek.html">Wolf Creek</option>
</select>
</form></p>
</div>
    <h3>&rsaquo; <a href="resort-webcams.html">Colorado Ski Resort Webcams</a></h3>
    <h3>&rsaquo; <a href="iphone-snow-app.html">Colorado Snow Report iPhone App</a></h3>
    <h3>&rsaquo; <a href="powder.html">The Colorado Daily Powder Report</a></h3>
    <h3>&rsaquo; <a href="recentsnow.html">Colorado's Recent Snow Report</a></h3>
    <h3>&rsaquo; <a href="deepestsnow.html">Colorado's Deepest Snow Report</a></h3>
    <h3>&rsaquo; <a href="acresopen.html">Colorado's Resort Acres Open Report</a></h3>
    <h3>&rsaquo; <a href="resorts.html">Colorado Ski Resorts List</a></h3>

            <!-- Begin DFP Premium ad uniqueId: dfp-20 -->
            <div id='dfp-20' style="margin-bottom:10px;">
                <script type='text/javascript'>
                    googletag.defineSlot('/8013/denverpost.com/News',[[300,250],[300,600],[160,600],[300,1050]], 'dfp-20').addService(googletag.pubads()).setTargeting('pos',['Cube1_RRail_ATF']).setTargeting('kv','movies');                                          
                    googletag.pubads().enableSyncRendering();
                    googletag.enableServices();                                         
                    googletag.display('dfp-20');
                </script>
            </div>
            <!-- End DFP Premium ad uniqueId: dfp-20 -->

{{SNOW-WIDGET}}


<!--
    <h3><a href="weather.html">Colorado Ski Resort Weather</a></h3>
	<ul class="boxwhite">
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81657">Vail Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80435">Keystone / Dillon Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81301">Durango Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80482">Winter Park Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80487">Steamboat Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81435">Telluride Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80424">Breckenridge Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81611">Aspen Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81201">Monarch Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=81224">Crested Butte Weather Conditions</a></li>
		<li><a href="http://weathernow.denverpost.com/hw3.php?config=&amp;forecast=zandh&amp;pands=80446">Silver Creek Weather Conditions</a></li>
	</ul>
-->

            <!-- Begin DFP Premium ad uniqueId: dfp-21 -->
            <div id='dfp-21' style="margin-bottom:10px;">
                <script type='text/javascript'>
                    googletag.defineSlot('/8013/denverpost.com/News',[[300,250]], 'dfp-21').addService(googletag.pubads()).setTargeting('pos',['Cube2_RRail_mid']).setTargeting('kv','movies');
                    googletag.pubads().enableSyncRendering();
                    googletag.enableServices();                                         
                    googletag.display('dfp-21');
                </script>
            </div>
            <!-- End DFP Premium ad uniqueId: dfp-21 -->
</div>







<div class="adElement" style="width:990px; text-align:center; clear:both;">

<p style="width:80%; margin:0 auto 10px auto;">
	<a href="http://extras.denverpost.com/skireport/colorado/arapahoebasin.html" title="Arapahoe Basin Resort and Snow info">Arapahoe Basin</a> |
<a href="http://extras.denverpost.com/skireport/colorado/aspenmountain.html" title="Aspen and Buttermilk and Snowmass Resort and Snow info">Aspen / Buttermilk / Snowmass</a> |
<a href="http://extras.denverpost.com/skireport/colorado/beavercreek.html" title="Beaver Creek Resort and Snow info">Beaver Creek</a> |
<a href="http://extras.denverpost.com/skireport/colorado/breckenridge.html" title="Breckenridge Resort and Snow info">Breckenridge</a> |
<a href="http://extras.denverpost.com/skireport/colorado/coppermountain.html" title="Copper Mountain Resort and Snow info">Copper Mountain</a> |
<a href="http://extras.denverpost.com/skireport/colorado/crestedbutte.html" title="Crested Butte Resort and Snow info">Crested Butte</a> |
<a href="http://extras.denverpost.com/skireport/colorado/durango.html" title="Durango Resort and Snow info">Durango</a> |
<a href="http://extras.denverpost.com/skireport/colorado/eldora.html" title="Eldora Resort and Snow info">Eldora</a> |
<a href="http://extras.denverpost.com/skireport/colorado/howelsenhill.html" title="Howelsen Hill Resort and Snow info">Howelsen Hill</a> |
<a href="http://extras.denverpost.com/skireport/colorado/keystone.html" title="Keystone Resort and Snow info">Keystone</a> |
<a href="http://extras.denverpost.com/skireport/colorado/loveland.html" title="Loveland Resort and Snow info">Loveland</a> |
<a href="http://extras.denverpost.com/skireport/colorado/monarch.html" title="Monarch Resort and Snow info">Monarch</a> |
<a href="http://extras.denverpost.com/skireport/colorado/powderhorn.html" title="Powderhorn Resort and Snow info">Powderhorn</a> |
<a href="http://extras.denverpost.com/skireport/colorado/silverton.html" title="Silverton Resort and Snow info">Silverton</a> |
<a href="http://extras.denverpost.com/skireport/colorado/skicooper.html" title="Ski Cooper Resort and Snow info">Ski Cooper</a> |
<a href="http://extras.denverpost.com/skireport/colorado/solvista.html" title="SolVista Resort and Snow info">SolVista</a> |
<a href="http://extras.denverpost.com/skireport/colorado/steamboat.html" title="Steamboat Resort and Snow info">Steamboat</a> |
<a href="http://extras.denverpost.com/skireport/colorado/sunlightmountain.html" title="Sunlight Mountain Resort and Snow info">Sunlight Mountain</a> |
<a href="http://extras.denverpost.com/skireport/colorado/telluride.html" title="Telluride Resort and Snow info">Telluride</a> |
<a href="http://extras.denverpost.com/skireport/colorado/vail.html" title="Vail Resort and Snow info">Vail</a> |
<a href="http://extras.denverpost.com/skireport/colorado/winterpark.html" title="Winter Park Resort and Snow info">Winter Park</a> |
<a href="http://extras.denverpost.com/skireport/colorado/wolfcreek.html" title="Wolf Creek Resort and Snow info">Wolf Creek</a>
</p>

<p style="width:80%; margin:0 auto 10px auto;">
	<a href="powder.html">The Colorado Daily Powder Report</a> |
<a href="recentsnow.html">Colorado's Recent Snow Report</a> |
<a href="deepestsnow.html">Colorado's Deepest Snow Report</a> |
<a href="acresopen.html">Colorado's Resort Acres Open Report</a> |
<a href="resorts.html">Colorado Ski Resorts List</a> |
<a href="http://guide.denverpost.com/lists/category/colorado-skiing-and-recreation/">Colorado Ski Guides</a>
</p>
    <p><a href="http://www.denverpost.com/ci_22820133/colorado-skiers-die-groomed-blue-runs-after-hitting">Colorado ski slope death data comes from The Denver Post</a>.</p>
	<p>Snow reports provided by Mountain News. The largest producer of skiing content for media, and <a href="http://www.onthesnow.com/?XE_AFF=denver%20post&amp;XE_LNK=Credit-Line-Ski-Report">publishers of the OnTheSnow.com Ski Guide</a>.</p>
<!-- BEGIN Insight XE for OTS-->
<SCRIPT type="text/javascript">
var if_Site_ID = "mountainnews";
var if_sid="1";
var if_tag = "<SCRIPT type='text/javascript' " + "DEFER SRC=http" + "://" + "a248.e.akamai.net/7/836/1132/102403/" + if_Site_ID + ".247realmedia.com/scripts/" + if_Site_ID + "_if.js" + "></SCR" + "IPT>";
var mep1="&amp;Section=CoBrands&amp;Corporate=Denver Post&amp;Affiliate=DENVERPOST.COM&amp;Type=XML - Ski Report";
document.write(if_tag);
</SCRIPT>
<!-- END Insight XE for OTS-->
	</div>


</div>

<div id="dfmFooter" style="border-top:1px solid #ddd;"><!--Footer Goes Here--></div>
<script type="text/javascript" src="http://local.denverpost.com/common/dfm/dfm-nav/dfm-nav-core.js"></script>
<script type="text/javascript"> dfmNav.initParams("mode|article", "site|denverpost", "pageTitle|Colorado Ski and Snow Report", "leaderboard|false", "thirdParty|true"); </script>

    <script type="text/javascript">
        //Chartbeat stuff
        _sf_async_config.uid = 2671;
        _sf_async_config.domain = 'denverpost.com';
        _sf_async_config.sections = 'ski_report';
        _sf_async_config.useCanonical = true;
        (function(){
            function loadChartbeat() {
                window._sf_endpt=(new Date()).getTime();
                var e = document.createElement('script');
                e.setAttribute('language', 'javascript');
                e.setAttribute('type', 'text/javascript');
                e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
                document.body.appendChild(e);
            }
            var oldonload = window.onload;
            window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>
<!-- <div style="float:right; width:300px;">{{STATIC.RECENTUPDATES}}</div> -->
</body>
</html>
