<div class="resorts skireport">
    <!-- <h3 style="padding-top:0;" id="powder" class="img">Colorado Powder</h3> -->
    <p>The Colorado Ski Resorts list publishes Colorado mountains and ski resorts along with the last time we got a new-snow report form them, and what their reported weather conditions were at that time.</p>
    {{BODY}}
    <p>Related: <strong><a href="http://guide.denverpost.com/lists/best-snow-powder/">Colorado Guide: Colorado's best snow powder</a></strong>, and <a href="http://guide.denverpost.com/lists/category/colorado-skiing-and-recreation/">more Colorado Skiing and Snow guides</a>.</p>
</div>
