<div class="powder skireport">
    <!-- <h3 style="padding-top:0;" id="powder" class="img">Colorado Powder</h3> -->
    <p>This Colorado Powder report publishes a list of ski resorts who have claimed to have powder or packed powder on their slopes in the past 24 hours.</p>
    {{BODY}}
    <p>Related: <strong><a href="http://guide.denverpost.com/lists/best-snow-powder/">Colorado Guide: Colorado's best snow powder</a></strong>, and <a href="http://guide.denverpost.com/lists/category/colorado-skiing-and-recreation/">more Colorado Skiing and Snow guides</a>.</p>
</div>
